html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    .left {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        .courseDropdown {
            height: 30px;
            width: 12em;
        }
        .playerLabel {
            height: 3.78em;
            background: green;
            display: flex;
            align-items: center;
            &:nth-child(even) {
                background: blue;
            }
        }
    }
    .right {
        background: green;
        display: flex;
        justify-content: space-evenly;
        .column {
            border: 1px solid black;
            display: flex;
            align-items: center;
            flex-direction: column;
            .cheader {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 13px;
            }
        }
        .holeInput {
            width: 4.5em;
            height: 4.5em;
            border: 1px solid black;
            border-left: 0;
            border-right: 0;
            text-align: center;
            &:focus {
                background: lightblue;
            }
        }
        .In, .Out {
            background: green;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            border: 1px solid black;
            .totalBox {
                width: 3.632em;
                height: 3.632em;
                background: purple;
                border: 1px solid black;
                border-left: 0;
                border-right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .tHeader {
                text-align: center;
                height: 32px;
            }
        }
    }
}