html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
}
.container .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.container .left .courseDropdown {
  height: 30px;
  width: 12em;
}
.container .left .playerLabel {
  height: 3.78em;
  background: green;
  display: flex;
  align-items: center;
}
.container .left .playerLabel:nth-child(even) {
  background: blue;
}
.container .right {
  background: green;
  display: flex;
  justify-content: space-evenly;
}
.container .right .column {
  border: 0.1em solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container .right .column .cheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  height: 30px;
}
.container .right .holeInput {
  width: 4.5em;
  height: 4.5em;
  border: 0.1em solid black;
  border-left: 0;
  border-right: 0;
  text-align: center;
}
.container .right .holeInput:focus {
  background: lightblue;
}
