html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
}
.container .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.container .left .courseDropdown {
  height: 30px;
  width: 12em;
}
.container .left .playerLabel {
  height: 3.78em;
  background: green;
  display: flex;
  align-items: center;
}
.container .left .playerLabel:nth-child(even) {
  background: blue;
}
.container .right {
  background: green;
  display: flex;
  justify-content: space-evenly;
}
.container .right .column {
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container .right .column .cheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
}
.container .right .holeInput {
  width: 4.5em;
  height: 4.5em;
  border: 1px solid black;
  border-left: 0;
  border-right: 0;
  text-align: center;
}
.container .right .holeInput:focus {
  background: lightblue;
}
.container .right .In,
.container .right .Out {
  background: green;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid black;
}
.container .right .In .totalBox,
.container .right .Out .totalBox {
  width: 3.632em;
  height: 3.632em;
  background: purple;
  border: 1px solid black;
  border-left: 0;
  border-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .right .In .tHeader,
.container .right .Out .tHeader {
  text-align: center;
  height: 32px;
}
